<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaotao.system.mapper.UserMapper">
    <select id="findUserPage" resultType="com.xiaotao.system.entity.User">
        select u.*, d.name as deptName from tb_user u INNER JOIN tb_department d on u.department_id = d.id ${ew.customSqlSegment}
    </select>
</mapper>
